/* We'll figure out proper dark theme colors later */
body {
    background-color: #d9d9d9;
}

.error {
    color: #8f3131;
    background-color: #edbebe;
    border-color: #e3a6a6;
}

#delete {
    float: right;
    clear: both;
}

.back-footer {
    margin-top: 30px;
    float: left;
    clear: both;
}

.clickable-row {
    cursor: pointer;
}

.clickable-row:hover {
    background-color: #ccc;
}

td a:not(.btn) {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    border: 1px solid transparent;
    border-radius: 4px;
}

th span, td span {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    border: 1px solid transparent;
    border-radius: 4px;
}