{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% if form %}
        <h1>{{ title }}</h1>

        <div class="row">
            <div class="col-md-4">
                {{ wtf.quick_form(form, button_map={'delete':'danger'}) }}
            </div>
        </div>

    {% elif results %}
        <table class="table">
            <thead>
            <tr>
                {% for col in columns %}
                <th><span>{{ col |replace('_', ' ') |title }}</span></th>
                {% endfor %}

                <th><span></span></th>
            </tr>
            </thead>

            <tbody>
            {% for row in results %}
            <tr class='clickable-row' data-href="{{ url_for(get_uri, id=row.id) }}">
                {% for col in columns %}
                    <td><span>{{ row[col] if row[col] else '---' }}</span></td>
                {% endfor %}
                
                <td><a class="btn btn-default" href="{{ url_for(edit_uri, id=row.id) }}">Edit</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1>{{ 'No Entries Found' }}</h1>

    {% endif %}

    {% if back_url %}
    <div class="back-footer">
    <a href="{{ back_url }}">Go back</a>
    </div>
    {% endif %}
{% endblock %}
