{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% if form %}
        <h1>{{ title }}</h1>

        <div class="row">
            <div class="col-md-4">
                {{ wtf.quick_form(form, button_map={'delete':'danger'}) }}
            </div>
        </div>

    {% elif results %}
        <table class="table">
            <thead>
            <tr>
                {% for col in results[0].columns() %}
                <th><span>{{ col }}</span></th>
                {% endfor %}

                <th><span></span></th>
            </tr>
            </thead>

            <tbody>
            {% for row in results %}
            <tr>
                {% for col in row.columns() %}
                    {% if col == 'id' %}
                    <td><a href="{{ url_for(get_uri, id=row.id) }}">{{ row.id }}</a></td>
                    {% else %}
                    <td><span>{{ row[col] }}</span></td>
                    {% endif %}
                {% endfor %}
                
                <td><a class="btn btn-default" href="{{ url_for(edit_uri, id=row.id) }}">Edit</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
    No results found?

    {% endif %}

    {% if back_url %}
    <div class="back-footer">
    <a href="{{ back_url }}">Go back</a>
    </div>
    {% endif %}
{% endblock %}
